{
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true
    },
    "rules": {
        // use double quotes
        "quotes": [ 2, "double" ],

        // indent with 4 spaces
        "indent": 2,

        // exactly one variable declaration per type per function (var) or block (let or const)
         "one-var": [ 2, "always" ],

        // only use let and const for variables, not var
        "no-var": 2,

        // limit cyclomatic complexity to 10
        "complexity": [ 2, 10 ],

        // when using "for in" to iterate object properties, check it object has own property
        "guard-for-in": 2,

        // not allowed are yoda-style expressions
        "yoda": 2,

        // always use ES6 shorthand notation for objects
        "object-shorthand": 2,

        "space-after-keywords": 2,

        "space-before-blocks": 2,

        "space-before-function-paren": [ 2, {
            "anonymous": "always",
            "named": "never"
        }],

        "space-in-parens": [ 2, "never" ],

        // buggy in in ESLint 0.19.0, uncomment when fixed
//         "space-in-brackets": [ 2, "always" ],

        "generator-star-spacing": [ 2, "before" ]

    }
}
